In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
path='q2.csv'
rd=pd.read_csv(path)
df=pd.DataFrame(rd)
df

,Hours Studied,Hours Watching TV,Outdoor Activity Time,Hours Listening to Music,Water Consumed,Test Score
0,2,4,2,2,5,65
1,3,3,4,3,6,70
2,4,2,6,4,5,75
3,5,1,8,1,6,80
4,6,0,10,5,4,85
5,7,0,12,0,5,90

In [31]:
def corre_coff(X,Y):
    n = len(X)
    mean_X = sum(X) / n
    mean_Y = sum(Y) / n
    deviations_X = [x - mean_X for x in X]
    deviations_Y = [y - mean_Y for y in Y]
    sum_of_products = sum([dev_X * dev_Y for dev_X, dev_Y in zip(deviations_X, deviations_Y)])
    sum_of_squares_X = sum([dev_X ** 2 for dev_X in deviations_X])
    sum_of_squares_Y = sum([dev_Y ** 2 for dev_Y in deviations_Y])
    corr = sum_of_products / (np.sqrt(sum_of_squares_X) * np.sqrt(sum_of_squares_Y))
    return corr

In [30]:
y=df['Test Score'].values 
y=np.array(y)
x=df.columns 
x=list(x)
x.remove('Test Score')
dis=[]
for i in x:
    x1=df[i].values 
    x1=np.array(x1)
    d=corre_coff(x1,y)
    dis.append(d)
print(dis)

[1.0, -0.9819805060619656, 1.0, -0.2, -0.35503580124836315]

In [36]:
labels=['Hours Studied', 'Hours Watching TV', 'Outdoor Activity Time','Hours Listening to Music', 'Water Consumed']
for i in range(len(labels)):
    if(dis[i]>0):
        a="{} and Test score are positively connected"
    elif(dis[i]<0):
        a="{} and Test score are negatively connected"
    print(a.format(labels[i]))  
    print("correlational coefficient between them is:",dis[i])
    print('\n')

Hours Studied and Test score are positively connected
correlational coefficient between them is: 1.0


Hours Watching TV and Test score are negatively connected
correlational coefficient between them is: -0.9819805060619656


Outdoor Activity Time and Test score are positively connected
correlational coefficient between them is: 1.0


Hours Listening to Music and Test score are negatively connected
correlational coefficient between them is: -0.2


Water Consumed and Test score are negatively connected
correlational coefficient between them is: -0.35503580124836315